
body {
    background-color: hsl(0, 0%, 98%);
    font-family: 'Poppins', sans-serif;
    margin: 50px auto;
    text-align: center;
}
      
h1 {
    color: hsl(229, 6%, 66%);
    font-size: 32px;
    font-weight: normal;
}
h2 {
    color: hsl(234, 12%, 34%);
    font-size: 32px;
    font-weight: 400px;
}
p {
    color: hsl(229, 6%, 66%);
}
img {
    float: right;
}
.class-content {
    margin: auto;
    width: 40%;
}
a {
    text-decoration: none;
    color: hsl(234, 12%, 34%);;
}
a:hover {
    color: hsl(229, 6%, 66%);
}
.box-t {
    background-color: white;
    border: 1px;
    border-top: 3px solid hsl(0, 78%, 62%);
    border-radius: 5px;
    box-shadow: hsl(0, 5%, 75%) 0px 13px 27px -5px, hsl(0, 0%, 98%) 0px 8px 16px -8px;
    height: 200px;
    width: 300px;
    padding: 20px;
    position: relative;
    left: 500px;
    top: 100px;
    text-align: left;
    
}
.box-s {
    background-color: white;
    border: 1px;
    border-top: 3px solid hsl(180, 62%, 55%);
    border-radius: 5px;
    box-shadow: hsl(0, 5%, 75%) 0px 13px 27px -5px, hsl(0, 0%, 98%) 0px 8px 16px -8px;
    height: 200px;
    width: 300px;
    padding: 20px;
    position: relative;
    left: 100px;
    text-align: left;

   
}
.box-k {
    background-color: white;
    border: 1px;
    border-top: 3px solid hsl(34, 97%, 64%);
    border-radius: 5px;
    box-shadow: hsl(0, 5%, 75%) 0px 13px 27px -5px, hsl(0, 0%, 98%) 0px 8px 16px -8px;
    height: 200px;
    width: 300px;
    padding: 20px;
    position: relative;
    left: 500px;
    bottom: 100px;
    text-align: left;
    
}
.box-c {
    background-color: white;
    border: 1px;
    border-top: 3px solid hsl(212, 86%, 64%);
    border-radius: 5px;
    box-shadow: hsl(0, 5%, 75%) 0px 13px 27px -5px, hsl(0, 0%, 98%) 0px 8px 16px -8px;
    height: 200px;
    width: 300px;
    padding: 20px;
    position: relative;
    left:900px;
    bottom: 500px;
    text-align: left;
}
@media screen and (max-width: 480px) {
    .class-content {
        width: 60%;
    }
    .card-box {
        width: 100%;
    }
    h1 {
        font-size: 1rem;
    }
    h2 {
        font-size: 1rem;
    }
    h3 {
        font-size: 0.9rem;
    }
    p {
        font-size: 0.7rem;
        line-height: 2;

    }
    img {
        width: 30px;
        height: 30px;
        margin-top: 10px;
        margin-right: 10px;
    }
    .box-t {
        font-size: 0.5rem;
        height: 150px;
        margin: 60px auto 10px;
        padding: 5px;
        position: initial;
        width: 200px;
        
 }
    .box-s {
        font-size: 0.5rem;
        height: 150px;
        margin: 30px auto 10px;
        position: initial;
        width: 200px;
        padding: 5px;
    }
    .box-k {
        font-size: 0.5rem;
        height: 150px;
        margin: 30px auto 10px;
        position: initial;
        width: 200px;
        padding: 5px;
    }
    .box-c {
        font-size: 0.5rem;
        height: 150px;
        margin: 30px auto 30px;
        position: initial;
        width: 200px;
        padding: 5px;
    }
}
